<h2>{{pageTitle}}</h2>

<div  *ngIf="questions$ | async as questions; else loading">
  <div class="cards" *ngIf="questions[indice$]">
    <div class="card-body">
      <h3>{{questions[indice$].text}}</h3>

      <br>Réponse:
        <div>
          <section class="list-group" *ngIf="questions[indice$].answers as answers">
            <div class="list-group-item list-group-item-action" *ngFor="let answer of answers"  (click)="chooseAnswer(answer) ">{{answer.text}}</div>
          </section>

        </div>
      </div>
  </div>
</div>
<ng-template #loading>
<p>Erreur</p>
</ng-template>
